pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

pre b {
  color: #0b10ab;
}

pre.error b {
  color: #be2b4b;
}

header {
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.95);
}
